@use 'variables';
@use 'mixins';
@use 'placeholders';

@use 'utils';
@use 'header';
@use 'footer';
@use 'home';
// @use 'novedades';
// @use 'recetas';
// @use 'tarjeta';
@use 'banner';
// @use 'formulario';
@use 'whatsapp';
@use 'media-queries';

.grilla-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px 80px 20px;
}

@media (max-width: 760px) {
    .grilla-tienda,
    .grilla-novedades,
    .grilla-recetas {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 420px) {
    .grilla-tienda,
    .grilla-novedades,
    .grilla-recetas {
        grid-template-columns: 1fr; 
    }
}

.card-tienda {
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.card__imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card__boton {
@extend %boton-base;
color: utils.$color-secundario;
@include utils.boton-estilo(utils.$color-principal, utils.$color-blanco);
}

.card__boton--agotado {
  @extend %boton-base;
@include utils.boton-estilo(#aaa, utils.$color-blanco, false);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;

  &:hover {
    opacity: 0.7;
  }
}


.card__titulo {
    margin: 10px 0 5px;
    font-size: 12px;
}

.card__texto {
    font-size: 10px;
    color: #444;
}

.titulo-tienda {
    background-color: variables.$color-principal;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-family: "Open Sans", sans-serif; 
    font-weight: 700; 
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
    font-style: normal;

    font-size: 2.5rem;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
}