@use 'variables';
@use 'mixins';
@use 'placeholders';

@use 'utils';
@use 'header';
@use 'footer';
@use 'novedades';
@use 'recetas';
@use 'tarjeta';
@use 'banner';
@use 'formulario';
@use 'whatsapp';
@use 'media-queries';

.grilla-tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.card {
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
}

.card__imagen {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card__boton {
  @extend %boton-base;
color: utils.$color-secundario;
@include utils.boton-estilo(utils.$color-principal, utils.$color-blanco);
}

.card__boton--agotado {
  @extend %boton-base;
@include utils.boton-estilo(#aaa, utils.$color-blanco, false);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.7;

  &:hover {
    opacity: 0.7;
  }
}


.card__titulo {
    margin: 10px 0 5px;
    font-size: 12px;
}

.card__texto {
    font-size: 10px;
    color: #444;
}

h1 {
    width: 100%;
    background-color: #082d26; 
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: roboto;
    font-size: 16px;
    margin: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.titulo-tienda {
    width: 100%;
    background-color: #082d26; 
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family: roboto;
    font-size: 16px;
    margin: 0;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}