// Tipografías
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;

// Colores
$color-principal: #082d26;
$color-secundario: #8b0000;
$color-blanco: #fff;
$color-negro: #000;
$color-gris: #ccc;